body
{
    margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	min-height: 100vh;	
	font-family: 'Poppins', sans-serif;
}
.navigation
{
	position: relative;
	display: flex;
	align-items: left;
	/* background: rgb(236, 192, 192); */
	padding: 20px;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 8px 15px rgba(0,0,0,.2);
    flex-direction: column;
}
.navigation input:checked ~ .menu
{
	height: 580px;
}
.menu
{
	transition: 0.5s;
    height: 0px;
    overflow: hidden;
}
.navigation input:checked ~ .buildingMenu
{
	height: 480px;
}
.buildingMenu
{
	transition: 0.5s;
    height: 0px;
    overflow: hidden;
}

input+label
{
    text-decoration: none;
	color: #666;
	text-transform: uppercase;
	font-weight: 600;
	display: inline-block;
}
.menu>div
{
    padding-left: 10px;
	background-color: rgb(245, 206, 171);
}
.menu label
{
	font-size:10px;
}